
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

 body {
   background-image: linear-gradient(to right bottom, rgba(58, 63, 57, 0.9), rgba(7, 32, 23, 0.9)), url("../img/jot1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
} 

